<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Contact</title>
<link href="css/main.css" rel="stylesheet" type="text/css" media="screen" />
<link href="css/listmenu_fallback.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" href="css/listmenu_v.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/fsmenu.js"></script>
<!--[if lte IE 6]>
<style type="text/css" media="all">@import "css/ie6.css";</style>
<![endif]-->
</head>
<body>
<div id="container">
    <!--Header Start-->
    <div id="header">
        <div id="logo"> <img src="images/img_logo.png" alt="" width="128" height="161" /></div>
    </div>
    <!--Header End-->
    <div id="content">
        <!--Sidebar Start-->
        <div id="sidebar">
            <ul  class="menulist" id="listMenuRoot">
                <li><a href="#">HOME</a></li>
                <li class="red"><a href="#">APARTMENTtS</a>
                    <ul>
                        <li><a href="#">INTERIORS</a></li>
                        <li><a href="#">ONE BEDROOM</a></li>
                        <li><a href="#">TWO BEDROOM</a></li>
                        <li><a href="#">TWO BEDROOM MODULAR</a></li>
                        <li><a href="#">PENTHOUSE</a></li>
                        <li><a href="#">SITE PLAN &amp; ELEVATIONS</a></li>
                        <li><a href="#">LOCATION</a></li>
                    </ul>
                </li>
                <li class="green"><a href="#">ARCHITECT AND DESIGN TEAM</a>
                    <ul>
                        <li><a href="#">SAXON LOOKER</a></li>
                        <li><a href="#">GIACOMO PASSERA</a></li>
                        <li><a href="#">PUTU EDY SEMARA</a></li>
                        <li><a href="#">PATRICK BLANC</a></li>
                        <li><a href="#">CARLO PESSINA</a></li>
                        <li><a href="#">MASSIMO LISTRI</a></li>
                    </ul>
                </li>
                <li class="yellow"><a href="#">THE SENTOSA BRAND</a>
                    <ul>
                        <li><a href="#">SENTOSA RESORTS BALI</a></li>
                        <li><a href="#">MANAGEMENT</a></li>
                        <li><a href="#">SENTOSA PRIVATE VILLAS</a></li>
                        <li><a href="#">PUBLICITY</a></li>
                    </ul>
                </li>
                <li><a href="#">BEACHFRONT LIVING </a></li>
                <li><a href="#">MULTIMEDIA </a></li>
                <li><a href="#">DOWNLOAD SALES KIT </a></li>
                <li><a href="#">CONTACT </a></li>
                <li><a href="#">AGENT LOGIN </a></li>
                <li><a href="#">OWNER LOGIN</a></li>
                <li><a href="#">LINKS </a></li>
            </ul>
            <div class="contact">CONNECT WITH US<span><a href="#"><img src="images/icon_f.png" alt="" width="22" height="23" /></a><a href="#"><img src="images/icon_s.png" alt="" width="21" height="22" /></a></span></div>
        </div>
        <!--Sidebar End-->
        <!--Maincontent Start-->
        <div id="maincontent">
            <div class="form_box">
                <form action="#" method="post">
                    <h2>CONTACT US</h2>
                    <ul>
                        <li>
                            <input name="" type="text" class="input_text" onfocus="if(this.value=='First Name') this.value=''" onblur="if(this.value=='') this.value='First Name'" value="First Name"/>
                            <input name="" type="text" class="input_name"  onfocus="if(this.value=='Last Name') this.value=''" onblur="if(this.value=='') this.value='Last Name'" value="Last Name"/>
                        </li>
                        <li>
                            <input name="" type="text" onfocus="if(this.value=='Email Address') this.value=''" onblur="if(this.value=='') this.value='Email Address'" value="Email Address" class="textinput"/>
                        </li>
                        <li>
                            <input name="" type="text" onfocus="if(this.value=='Phone Number') this.value=''" onblur="if(this.value=='')this.value='Phone Number'"  value="Phone Number" class="textinput"/>
                        </li>
                        <li>
                            <input name="" type="text" onfocus="if(this.value=='Address') this.value=''" onblur="if(this.value=='') this.value='Address'" value="Address" class="textinput"/>
                        </li>
                        <li>
                            <input name="" type="text" onfocus="if(this.value=='City') this.value=''" onblur="if(this.value=='') this.value='City'" value="City" class="textinput"/>
                        </li>
                        <li>
                            <input name="" type="text" onfocus="if(this.value=='Country') this.value=''" onblur="if(this.value=='')this.value='Country'" value="Country" class="textinput"/>
                        </li>
                        <li>
                            <input name="" type="text" onfocus="if(this.value=='How did you hear about us?') this.value=''" onblur="if(this.value=='')this.value='How did you hear about us?'" value="How did you hear about us?" class="textinput"/>
                        </li>
                        <li> <span>INTERESTED IN?</span>
                            <p>
                                <input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_0" class="check"/>
                                <label>one bedroom</label>
                                <input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_1" class="check"/>
                                <label>two bedroom</label>
                                <input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_2" class="check"/>
                                <label>two bedbroom modular</label>
                                <input type="checkbox" name="CheckboxGroup1" value="checkbox" id="CheckboxGroup1_3" class="check"/>
                                <label>penthouse</label>
                            </p>
                        </li>
                        <li>
                            <textarea name="" cols="" rows="" onfocus="if(this.value='Your Message Here...')this.value=''" onblur="if(this.value=='')this.value='Your Message Here...'">Your Message Here...</textarea>
                        </li>
                        <li>
                            <input name="" type="button" class="input_button" value="SEND" />
							<input name="" type="button" class="input_button" value="RESET"/>
                        </li>
                    </ul>
                    <h3>AGENT LOGIN</h3>
                    <ul>
                        <li>
                            <input name="" type="text" class="input_text" onfocus="if(this.value=='USERNAME') this.value=''" onblur="if(this.value=='') this.value='USERNAME'" value="USERNAME" />
                            <input name="" type="password" class="input_name" onfocus="if(this.value=='PASSWORD') this.value=''" onblur="if(this.value=='') this.value='PASSWORD'" value="PASSWORD" />
                        </li>
                        <li class="last_button">
                            <input name="" type="button" class="input_button" value="SEND" />
							<input name="" type="button" class="input_button" value="RESET"/>
                        </li>
                    </ul>
                    <h3>OWNER LOGIN</h3>
                    <ul>
                        <li>
                            <input name="" type="text" class="input_text" onfocus="if(this.value=='USERNAME') this.value=''" onblur="if(this.value=='') this.value='USERNAME'" value="USERNAME"/>
                            <input name="" type="password" class="input_name" onfocus="if(this.value=='PASSWORD') this.value=''" onblur="if(this.value=='') this.value='PASSWORD'" value="PASSWORD" />
                        </li>
                        <li>
                            <input name="" type="button" class="input_button" value="RESET"/>
                            <input name="" type="button" class="input_button" value="SEND" />
                        </li>
                    </ul>
                </form>
            </div>
            <div class="sea_sentosa">
                <h2>SEA SENTOSA</h2>
                <p>Sales Office. Jl. Oberoi and Echo Beach<br />
                    Bali - Indonesia</p>
                <p>Tel. +62.361.888.1234<br />
                    <a href="#">sales@seasentosa.com</a></p>
            </div>
        </div>
        <!--Maincontent End-->
    </div>
</div>
<!--Footer Start-->
<div id="footer">
    <ul>
        <li class="first"><a href="#">Contact</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Privacy Statement</a></li>
        <li><a href="#">Terms of Use</a></li>
    </ul>
</div>
<!--Footer End-->
</body>
</html>
